.category {
  &-title {
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 75px;
  }
  &-item {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
    width: 49%;
    height: 60px;
    background-color: rgb(41 41 41);
    &:hover {
      background-color: #cccccc;
      color: black;
    }
    a {
      transition: color 0.3s ease-in-out;
      color: #00ffd5;
      &:before {
        content: "→  ";
        opacity: 0;
        padding-right: 20px;
        transition: padding-right 0.5s ease-in-out;
      }
    }
    a:hover {
      color: #9966ff;
      &:before {
        opacity: 1;
        padding-right: 5px;
      }
    }
  }
}
