.post-table {
  width: 100%;
  text-align: center;
  margin: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  td {
    padding: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    &:first-child {
      border-right: solid 1px rgba(0, 0, 0, 0.1);
    }
    &:last-child {
      border-left: solid 1px rgba(0, 0, 0, 0.1);
    }
  }
  thead {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    color: rgb(153, 153, 153);
  }
  tbody {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }
  &-comment_btn {
    width: 150px;
    float: right;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    background-color: #767676;
    border-radius: 3px;
    align-self: flex-end;
    &:hover {
      background-color: #9966ff;
      color: white;
    }
  }
}
